


.btnItems{
    font-size: 1.1rem;
    margin:0 0.5rem;
    font-family:monospace Arial, Helvetica, sans-serif;
    background: none;
    text-shadow: 2px 2px 1px white;
    border:none;
    color:green;
    outline:none;
}

ul{
    list-style-type: none;
}
li{
    padding:0.5rem;
    margin-bottom: 1.4rem;
    border-bottom: 2px solid cadetblue;
    background-color: white;
    box-shadow: 4px 6px 8px white;
    
    
}
.item{
    background: none;
    outline:none;
    color:black;
    font-size: 1.4rem;
    background-color: white;
    border-radius: 10px;
    border:2px solid black;
    box-shadow: 4px 6px 8px white;
   
    
}
.container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top:2rem;
    
}
.toDoBtn{
    height: 50px;
    width:50px;
    border-radius: 25px;
    outline:none;
    border:none;
    background-color: green;
    color:white;
    margin:0.25rem;
    cursor: pointer;
}
.toDoBtn2{
    height: 50px;
    width:50px;
    border-radius: 25px;
    outline:none;
    border:none;
    background-color: red;
    color:white;
    margin:0.25rem;
    cursor: pointer;
}
.toDoBtn,.toDoBtn2:hover{
    opacity:0.7;
    

}
.input_div #items{
    padding:0.1rem  1rem;
    height: 50px;
    outline: none;
    width: 300px;
   font-size: 1.1rem;
   margin: 0.25rem;
   border:none;
   border-radius: 25px;
}
.input_div{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body{
   
    background-image: url('images.jpg');
    background-size: cover;
    background-repeat: no-repeat;
      
 
}
h1{
    font-size:3rem;
    font-weight: 50;
    margin:1rem 0 3rem;
    text-align: center;
    font-family: monospace Arial, Helvetica, sans-serif;
}
.styling{
    font-weight: 800;
    color:white;

}



@media(max-width:534px){
    body{
        background-image: url('images.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        
    
    }
    .input_div #items{
        padding:0.1rem  1rem;
        height: 40px;
        outline: none;
        width: 250px;
       font-size: 1.1rem;
       margin: 0.25rem;
       border:none;
       border-radius: 25px;
    }
    .toDoBtn{
        height: 40px;
        width:40px;
        border-radius: 25px;
        outline:none;
        border:none;
        background-color: green;
        color:black;
        margin:0.25rem;
        cursor: pointer;
    }
    .toDoBtn2{
        height: 40px;
        width:40px;
        border-radius: 25px;
        outline:none;
        border:none;
        background-color: red;
        color:black;
        margin:0.25rem;
        cursor: pointer;
    }
    li{
        padding:0.5rem;
        margin-bottom: 1.1rem;
        border-bottom: 2px solid cadetblue;
        
    }
    .item{
        background: none;
        outline:none;
        color:black;
        border:none;
        width:300;
        font-size: 1.4rem;
        background-color: white;
        border-radius: 10px;
        border:1px solid black;
        box-shadow: 2px 2px 8px white;
    }
    
}
@media(max-width:534px){
    .input_div #items{
        padding:0.1rem  1rem;
        height: 40px;
        outline: none;
        width: 200px;
       font-size: 1.1rem;
       margin: 0.25rem;
       border:none;
       border-radius: 25px;
    }
    .toDoBtn{
        height: 35px;
        width:35px;
        border-radius: 25px;
        outline:none;
        border:none;
        background-color: green;
        color:black;
        margin:0.25rem;
        cursor: pointer;
    }
    .toDoBtn2{
        height: 35px;
        width:35px;
        border-radius: 25px;
        outline:none;
        border:none;
        background-color: red;
        color:black;
        margin:0.25rem;
        cursor: pointer;
    }
    
}

@media(max-width:939px){
    body{
   height:800px;
    background-image: url('images.jpg');
    background-size: cover;
    background-repeat: no-repeat;
      
 
}
}